.create-a-candidate{
  border: 2px solid #000000;
  text-align: center;
  width: $candidateSectionWidth;
  min-width: $candidateSectionMinWidth;
  margin: 0 auto;
  margin-top: $candidateSectionMarginTop;
  clear: both;
  h2 {
    font-size: 2em;
  }
  .createCandidate {
    border: 1px solid #000000;
    width: $createFormWidth;
    min-width: $createFormMinWidth;
    margin: 0 auto;
    text-align: left;
    padding-left: $createFormPadLeft;
    padding-top: $createFormPadTop;
    padding-bottom: $createFormPadBot;
    margin-bottom: $creatFormMargBot;

    aside{
      margin-top: $creatFormAsideMargTop;
      margin-bottom: $createFormAsideMargBot;
    }
  }
}
