

//Layoout Sizing Padding and Margins\\

$candidateSectionWidth: 45%;
$candidateSectionMinWidth: 380px;
$candidateSectionMarginTop: 2em;

$createFormWidth: 40%;
$createFormMinWidth: 190px;
$createFormPadLeft: 1em;
$createFormPadTop: 0.5em;
$createFormPadBot: 0.5em;
$creatFormMargBot: 3em;
$creatFormAsideMargTop: 0.5em;
$createFormAsideMargBot: 0.5em;

$headerLIwidth: 25%;

$campaignFormWidth: 40%;
$campaignFormMaxWidth: 300px;
